@model SISTEMA_AULA.MODEL.Models.TipoPagamento

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TipoPagamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="TpgCodigo" type="hidden" />
            <div class="form-group">
                <label asp-for="TpgDescricao" class="control-label"></label>
                <input asp-for="TpgDescricao" class="form-control" />
                <span asp-validation-for="TpgDescricao" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TpgDesativado" /> @Html.DisplayNameFor(model => model.TpgDesativado)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
