@model IEnumerable<SISTEMA_AULA.MODEL.Models.TipoPagamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<partial name="_ListaTipoPagamento"></partial>