@model IEnumerable<ClienteVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div>
  @await  Html.PartialAsync("_ListaClientes", Model)
</div>
@section Scripts {

    <script>
        ConfiguraDataTable("tabela");
    </script>
}